/*
element
.class
#id{

    align-items: center;                                <!-- vertical Alighnment (left,right,center) -->

    background-color: #151515;                          <!-- Backround color (Hex) -->

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);        <!--  -->

    border: 1px solid rgba(0, 0, 0, 0.35);              <!--  -->

    border-radius: 10px;                                <!--  -->

    cursor: pointer;                                    <!--  -->

    color: #C0C0C0;                                     <!--  -->

    display: flex;                                      <!--  -->

    flex-direction: column;                             <!--  -->

    flex-wrap: wrap;                                    <!--  -->

    font-family: Limelight, sans-serif;                 <!--  -->

    font-size: 64px;                                    <!--  -->

    gap: 30px;                                          <!--  -->

    height: 111px;                                      <!--  -->

    justify-content: space-between;                     <!--  -->

    justify-self: right;                                <!--  -->

    margin: px;                                         <!--  -->

    padding: 0px;                                       <!--  -->

    position: sticky;                                   <!--  -->

    text-decoration-line: underline;                    <!-- add stuf to text (line) -->

    text-decoration-style: solid;                       <!-- Add stuf to text define -->
    
    top: 0;                                             <!-- vertical position of a positioned element -->
    
    width: 100%;                                        <!-- Width of div (px,%) -->

    -webkit-text-stroke: 1px #C0C0C0;                   <!-- Add stroke to text: width(px) color(Hex) -->

    z-index: 10;                                        <!-- z layering (if u want something in front of another thing) -->
    
}
*/

body {
    font-family: Limelight, sans-serif;
    background-color: #151515;
    color: #C0C0C0;
    padding: 0px;
    margin:0px;
    min-width: 400px;
}

/* Header Section */
.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 111px;
    background-color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.header-logo a {
    font-size: 64px;
    color: #8A2BE2;
    -webkit-text-stroke: 1px #C0C0C0; /* Adds a white outline */
    margin: 20px;
}

/* Navigation */
.nav {
    display: flex;
    gap: 30px;
    font-size: 32px;
    align-items: center;
}

.nav a {
    color: #C0C0C0;
    padding: 8px;
}

.nav a:hover {
    color: #8400FF;
}

.nav .sign-in a{
    color: #00FFFF;
}

.nav .sign-in a:hover{
    color: #8400FF;
}

/* Sign-in Section */

.sign-in {
    display: flex;
    justify-self: right;
    align-items: center;
    font-size: 16px;
}


#icon{
    font-size:54px;
    color :#8400FF;
}

.sign-in span {
    font-size: 16px;
    margin: 5px;
}

.sign a {
    width: 75px;
    color: #00FFFF;
}

/* Burger Menu */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}

.burger-menu div {
    width: 30px;
    height: 3px;
    background-color: #C0C0C0;
    margin: 5px;
}

.mobile-nav a:hover {
    color: #8400FF;
}

.mobile-nav a {
    color: #C0C0C0;
    text-decoration: none;
    margin: 5px;
}

.mobile-nav .sign-in a{
    color: #00FFFF;
}

.mobile-nav .sign-in a:hover{
    color: #8400FF;
}

/* Mobile Navigation */
.mobile-nav {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #151515;
    position: absolute;
    top: 111px;
    right: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.show-mobile-nav {
    display: flex;
}


/* Main Section */
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

/* Search Bar */
.search-bar {
    width: 75%;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    border: 3px solid #451671;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 50px;
}

.search-bar .icon {
    width: 40px;
    height: 40px;
    background-color: #8400FF;
    border-radius: 50%;
    margin-right: 30px;
}

.search-bar .text {
    font-size: 36px;
}

/* Title and Movie Selection */
.title-selection-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pushes section title and movie selection to opposite ends */
    margin-bottom: 50px;
    background-color: black;
    flex-wrap: wrap;
}

.section-title {
    font-size: 64px;
    margin: 10px;
    color: #00FFFF;
    -webkit-text-stroke: 1px #C0C0C0; /* Adds a white outline */
}

.movie-selection {
    display: flex;
    gap: 30px;
    margin: 10px;
    font-size: 32px;
    color: #C0C0C0;
    text-decoration-line: underline;
    text-decoration-style: solid; /* this is default */
    -webkit-text-stroke: 1px #fff; /* Adds a white outline */
}

.movie-selection a:hover{
    color: #8400FF;
} 

/* Movie Card Container */
.movie-card-container {
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.movie-card {
    width: 300px;
    height: 400px;
    background-color: #C0C0C0;
    border: 1px solid #8A2BE2;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
    .nav {
        display: none;
    }

    .burger-menu {
        display: flex;
    }
}

@media screen and (max-width: 645px) {
    .title-selection-container {
        justify-content: center;
    }
}